@import '../../variables.scss';

.homeDiv {
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: space-between;
  height: 100vh;
}

.homeDescriptionCont {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  align-items: end;
  margin-right: 7vw;
}

.description {
  justify-self: center;
  width: 30vw;
  height: 53vh;
  // background-color: $royalblue;
  border: 2px solid $chillired;
}

.homeLinksCont {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  margin-left: 7vw;
}

.firstLinkCard {
  position: relative;
  display: inline-block;
  width: 30vw;
  height: 25vh;
  margin-bottom: 2vh;
}

.firstLinkImg {
  width: 30vw;
  height: 25vh;
  object-fit: cover;
  border: 2px solid $chillired;
}

.firstLinkTitle {
  position: absolute;
  font-size: 25px;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
  color: white;
  bottom: 6px;
  left: 16px;
}
.secondLinkCard {
  display: inline-block;
  justify-self: end;
  width: 30vw;
  height: 25vh;
  // background-color: ;
  border: 2px solid $chillired;
}
