@import '../../variables.scss';

.homeDiv {
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: space-between;
  height: 100vh;
}

.homeDescriptionCont {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  align-items: end;
  margin-right: 7vw;
}

.description {
  justify-self: center;
  width: 30vw;
  height: 53vh;
}

.homeLinksCont {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  margin-left: 7vw;
}

.firstLinkCard {
  display: inline-block;
  width: 30vw;
  height: 25vh;
  margin-bottom: 2vh;
}

.secondLinkCard {
  display: inline-block;
  justify-self: end;
  width: 30vw;
  height: 25vh;
}
