@import '../../variables.scss';

.homeDiv {
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: space-between;
  height: 100vh;
}

.homeDescriptionCont {
  background-color: white;
  justify-self: center;
  align-self: center;
  margin-right: 7vw;
}

.homeLinksCont {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  align-content: center;
  margin-left: 7vw;
}

.firstLinkCard {
  display: inline-block;
  width: 750px;
  height: 260px;
}

.secondLinkCard {
  display: inline-block;
  width: 750px;
  height: 260px;
}
