@import '../../variables.scss';

.contact {
  display: flex !important;
  margin-left: 20vw;
  margin-right: 20vw;
  min-height: 100vh;
}

.titleAndForm {
  display: inline-block;
  align-self: center;
  width: 20vw;
  background-color: $gunmetal;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.contactFormDiv {
  display: flex;
  width: 33vw;
  justify-content: center;
}

.contactInfoDiv {
  display: flex;
  width: 33vw;
  justify-content: center;
}
.floatingInput {
  background-color: #3d4452;
}
