.contact {
  display: flex !important;
  margin-left: 20vw;
  margin-right: 20vw;
}

.titleAndForm {
  display: inline-block;
  width: 373.500px;
  margin-top: 15vh;
}

.contactFormDiv {
  display: flex;
  width: 33vw;
  justify-content: center;
}

.contactInfoDiv {
  display: flex;
  width: 33vw;
  justify-content: center;
 }

