@import '../../variables.scss';

.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #b24c63;
}

.headertext {
  color: white;
}

.headertext:hover {
  color: $chillired !important;
  transition: 350ms;
}

.headertext:active {
  color: white !important;
}

.navlinks {
  .headerlink {
    text-decoration: none;
    color: #efefef;
  }
  width: 12vw;
  justify-content: space-between;
}
