* {
  margin: 0;
  padding: 0;
}

.title {
  color: #EFEFEF;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.contactinfo {
  color: #EFEFEF;
  text-size-adjust: 1;
}

.subtitle {
  color: #EFEFEF;
  text-align: left;
  margin-left: 15%;
  margin-top: 1vh;
}

.Cards {
  width: 30vw;
}

.homeCards {
  height: 600px;
  margin-top: 20vh;
}

.homeCardDiv {
  display: flex;
  float: left;
  justify-content: center;
  width: 600px;
  height: 400px;
  margin-left: 12vw;
}

.homeLinkDiv {
  display: flex;
  float: right;
  flex-direction: column;
  vertical-align: top;
  width: 600px;
  height: 400px;
  margin-right: 12vw;
}

.homeLinkTop {
  display: flex !important;
  margin-bottom: 35px;
  width: 600px;
  height: 165px !important;
}

.homeLinkBtm {
  display: flex !important;
  margin-top: 35px;
  width: 600px;
  height: 165px !important;
}

.aboutTitleDiv {
  justify-content: center;
  align-content: center;
}

.aboutInfo {
  display: flex;
  justify-content: center;
  align-content: center;
}

.portfolioTitle {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 7vh;
  margin-bottom: 5vh;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  padding-left: 10vw;
  padding-right: 10vw;
}

.galleryItem1 {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 228px;
  width: 156px;  
}

.galleryItem2 {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 228px;
  width: 156px;  
}

.galleryItem3 {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 228px;
  width: 156px;  
}

.galleryItem4 {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 228px;
  width: 156px;  
}

.galleryItem5 {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 228px;
  width: 156px;  
}

.galleryItem6 {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 228px;
  width: 156px;  
}

.galleryItem7 {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 228px;
  width: 156px;  
}

.contact {
  display: flex !important;
  margin-left: 20vw;
  margin-right: 20vw;
}

.titleAndForm {
  display: inline-block;
  width: 373.500px;
  margin-top: 15vh;
}

.contactFormDiv {
  display: flex;
  width: 33vw;
  justify-content: center;
}

.contactInfoDiv {
  display: flex;
  width: 33vw;
  justify-content: center;
 }

.message {
  height: 25vh !important;
 }