.aboutPageDiv {
  width: auto;
  height: auto;
}

.title {
  color: #efefef;
  margin-top: 3vh;
  margin-bottom: 3vh;
  justify-self: center;
}

.aboutTitleDiv {
  justify-content: center;
  align-content: center;
}

.aboutInfo {
  display: flex;
  justify-content: center;
  align-content: center;
}

.portfolioTitle {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 7vh;
  margin-bottom: 5vh;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-bottom: 7vh;
}

.galleryRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.galleryCol {
  justify-content: center;
  align-items: center;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.portfolioItem {
  width: 35vw;
  height: 32vh;
}
